@charset "utf-8";
.pl-layout-statusboard{
  position: relative;
  flex: 0 0 240px;
  padding: 0px 0 24px 0;
  background: $color-bg;
  border-right: 1px solid $color-border;
  &--myboard{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0 8px 0 16px;
    gap: 8px 12px;
    .myboard-title{
      flex: 0 0 35px;
      font-size: 12px;
    }
    .count{
      flex: 1;
      font-size: 12px;
      text-align: center;
      border: 1px solid $color-border;
      border-color: $color-main !important;;
      border-radius: 8px;
    }
    .type-sub{
      .myboard-title{
        // color: $color-font-sub
      }
      .count{
        border-color: $color-border !important;;
      }
    }
  }
  &--topstat{
    display: flex;
    flex-direction: column;
    text-align: center;
    .counter{
      padding: 4px;
      width: 45px;
      height: 26px;
      font-size: 14px;
      line-height: 1;
      border: 1px solid #dbdbdb;
      border-radius: 16px;
      background: #FFF;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &--unit{
    background: #FFF;
    border: 1px solid $color-border;
    border-radius: 6px;
    &-title{
      display: flex;
      align-items: center;
      height: 36px;
      padding: 4px 4px 4px 16px;
      font-size: 14px;
      font-weight: 700;
      &.is-toggle{
        position: relative;
        cursor: pointer;
        &::after{
          content: "";
          position: absolute;
          top: 50%;
          right: 4px;
          width: 20px;
          height: 20px;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOTYgOTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTgxLjg0NiAyNS4zODhhNi4wMjQgNi4wMjQgMCAwIDAtOC40NS43NjdMNDggNTYuNjI1bC0yNS4zOTYtMzAuNDdhNS45OTkgNS45OTkgMCAxIDAtOS4yMTEgNy42ODlsMzAuMDAxIDM2LjAwMWE1Ljk5NyA1Ljk5NyAwIDAgMCA5LjIxMiAwbDMwLjAwMS0zNi4wMDJhNi4wMDggNi4wMDggMCAwIDAtLjc2MS04LjQ1NVoiIGZpbGw9IiM1OTU5NTkiIGNsYXNzPSJmaWxsLTAwMDAwMCI+PC9wYXRoPjwvc3ZnPg==");
          background-size: 12px;
          background-position: center;
          transform: translateY(-50%);
        }
        &.active-true{
          &::after{
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }
    &-content{
      padding: 0;
    }
    &.type-nobg{
      background: transparent;
      border: 0;
      margin: 0 12px 0 16px;
      .pl-layout-statusboard--unit-title{
        padding-left: 0;
      }
      .pl-layout-statusboard--unit-content{
        padding-right: 8px;
      }
    }
  }
  &--footer{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 36px;
    padding: 8px 16px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid $color-border;
    .counter{
      display: inline-block;
      width: 30px;
      padding: 0 8px;
      text-align: center;
      font-weight: 700;
      margin-left: 8px;
      background: #c9c9c9;
      border-radius: 18px;
    }
  }
  // right
  &.pos-right{
    order: 1;
    right: 60px;
    border-left: 1px solid $color-border;
    border-right: 0;

  }
  // hover
  .has-hover{
    position: relative;
    cursor: pointer;
    &:hover{
      color: $color-main;
    }
    &.type-bg{
      position: relative;
      padding: 0 2px;

      &:hover{
        color: inherit;
        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: -16px;
          right: -20px;
          bottom: 0;
          background-color: rgba(0, 0, 0, .08);
        }
       }
    }
    &.type-bg-clr{

      &:hover{
        background-color: $color-main;
        color: #FFF;
       }
    }
  }
}

// rolling list
.pl-rolling-wrap{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  height: 38px;
  margin-left: 16px;
  margin-right: 10px;
  &--unit{
    width: 170px;
    line-height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: all $easing-time ease-in;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    top: 38px;
    left: 25px;
    display: inline-block;
    cursor: pointer;
    &:hover{
      &::after{
        content: '';
        position: absolute;
        bottom: 8px;
        left: 3px;
        right: 3px;
        height: 1px;
        background-color: #666;
      }
    }

    &.active {
      top: 0;
    }
    &.hidden {
      top: -38px;
      opacity: 0;
    }
  }
  &.type-static{
    overflow: auto;
    height: auto;
    .v-icon {
      align-self: start;
    }
  }

}
