@charset "utf-8";

.pl-full-calendar {
  overflow-y: scroll;
  max-height: calc(100vh - 207px);
  &-title {
    display: inline-flex;
    font-size: 14px;
    height: 40px;
    align-items: center;
  }
  &-detail-dialog {
    padding: 0;
    border: 0 !important;
  }
  &-detail-title {
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
  }
  .v-event{
    margin: 6px;
  }
  .v-calendar-weekly {
    display: table;
    table-layout: fixed;
  }
  .v-calendar-weekly__head {
    display: flex;
    align-items: center;
    height: 44px;
    border-bottom: 1px solid $color-border;
    &-weekday {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin-left: 1px !important;
      font-size: 14px;
      font-weight: 700;
      color: #000 !important;
      background-color: #FFF !important;
      &:last-child {
        border-right: 1px solid $color-border !important;
      }
      &:first-child,
      &:last-child {
        color: $color-error !important;
      }
    }
  }
  .v-calendar-weekly__week{
    min-height: 100px;
  }
  &-viewbtn {
    .v-list-item {
      border-radius: 5px;
      &::before {
        border-radius: 5px;
      }
      &.v-list-item--active {
        font-weight: 700;
        color: $color-drop-focus;
        &::before {
          opacity: 0;
        }
      }
    }
  }
}

.pl-weekCalendar{
  width: 100%;
  border: 0 !important;
  .v-calendar-daily__intervals-head{
    display: none;
  }
  .v-calendar-daily_head-day{
    border: 0 !important;
    &.v-present{
      .primary--text,
      .v-btn{
        background-color: transparent !important;
        color: $color-main !important;
      }
    }
    &.selected-day{
      background: color-mix(in srgb,var(--primary-color),#fff 85%);
      border-radius: 12px;
      box-shadow: inset 0 0 0 1px $color-main;
      .theme--light.v-btn:focus::before{
        opacity: 0;
      }
    }
  }
  .v-calendar-daily_head-weekday{
    font-size: 12px;
  }
  .v-calendar-daily_head-day-label{
    .v-btn{
      font-weight: 700;
      height: 20px;
      border-radius: 5px;
    }
  }
  .v-calendar-daily__body{
    display: none;
  }
}

.pl-calendar-mini {
  .v-date-picker-header{
    justify-content: center;
    padding: 0;
    .v-date-picker-header__value{
      flex: 0 1 120px;
      font-family: "TheJamsil3Regular";
      font-size: 15px;
      button {
        font-weight: 400;
      }
    }
  }
  .v-date-picker-table__events{
    bottom: 3px;
    > div{
      width: 6px;
      height: 6px;
    }
  }
  .v-date-picker-table{
    height: 220px;
    padding: 0;
    &.v-date-picker-table--date .v-btn{
      width: 24px;
      height: 24px;
      .v-btn__content{
        line-height: 0;
      }
    }
  }
  &.is-bg-transparent{
    .v-picker,
    .v-picker__body{
      background-color: transparent !important;
    }
  }
  .theme--light.v-date-picker-table:not(.v-date-picker-table--month) {
    th,
    .v-date-picker-table--date__week {
      color: $color-font-focus;
      font-size: 14px;
      &:first-child,
      &:last-child {
        color: $color-font-disable;
      }
    }
    td {
      &:first-child,
      &:last-child {
        .v-btn {
          color: #F15151;
          &.v-btn--active {
          }
        }
      }
    }
  }
}