@charset "utf-8";

.pl-toast {
  .v-snack__wrapper {
    border-radius: 25px !important;
  }
  &.info .v-snack__wrapper {
    background-color: rgba(63 81 181 / 1);
  }
  &.success .v-snack__wrapper {
    background-color: rgb(26, 158, 86);
  }
  &.warning .v-snack__wrapper {
    background-color: rgba(255 45 16/ 1);
  }
  &.v-snack--active{
    .v-sheet.v-snack__wrapper{
    }
  }
  &.type-mini{
    .v-snack__content{
      padding: 0 8px !important;
    }
    .v-snack__wrapper{
      min-height: 38px;
      border-radius: 8px !important;
    }
  }

}
.v-sheet.v-snack__wrapper{
  // border-radius: 25px !important;
  margin: 8px 8px 30px;
  .v-snack__content {
    display: flex;
    align-items: center;
    min-height: auto;
    padding: 0 16px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    user-select: none;
    i {
      margin-right: 10px;
    }
  }
}

